.idea
.pyc
__pycache__
env
.pytest_cache
tests/i18n
poetry.lock
#.coveralls.yml
htmlcov
.coverage
tests/model/*.py
models/
.venv
dump/servicemci
mdbdata
da_importare
test_token_exchange.sh
test_nob
database/scripts/init_db.js
.env