{% extends  "_main.html" %}

{% block header %}
    {{ super() }}
    {% include "header.html" %}
{% endblock %}
{% block content %}
    {{ super() }}
    <div id="modal_ph"></div>
{% endblock %}
{% block footer %}
    {{ super() }}
    <footer class="footer it-footer p-1">
        <div class="it-footer-sm ">
            <div class="container pl-2">
                <div class="row">
                    <div class="col-2">
                        <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                            <li class="list-inline-item">
                                <a href="https://www.inrim.eu/" title="inrim"
                                   target="_blank">Inrim</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-8">
                        {% if today_date %}
                            <span class="pull-right"><span> {{ today_date }}</span></span>
                        {% endif %}
                    </div>
                    <div class="col-2 text-right ">Versions:
                        <p class="text-start text-muted mb-0"
                           style="font-size: 0.8em">
                            <span>Core: {{ version }}</span>
                            - Formio.js: <span id="renderer-version"></span>
                            Bootstrap IT: <span id="bi-version"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-right">
            <a href="#" aria-hidden="true" tabindex="-1"
               data-bs-toggle="backtotop" class="back-to-top">
                <svg class="icon icon-light">
                    <use href="/static/bootstrap-italia/svg/sprites.svg#it-arrow-up"></use>
                </svg>
            </a>
        </div>
    </footer>
{% endblock %}