{% extends  "layout.html" %}
{% block loader %}
    <style>
        .ozon-progress {
            height: 2px;
            background-color: #ede7f6;
        }

        .ozon-progress .progress-bar {
            background-color: #673ab7;
        }


    </style>
{% endblock %}
{% block form %}
    <div class="col-12">
        <iframe src="/design/builder/{{ ptype }}/{{ form_schema }}"
                style="overflow: unset"
                height="100%"

                width="100%" title="Form Builder">
        </iframe>

    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" nonce="{{ nonce or '2726c7f26c' }}">
        function gotolink(link) {
            window.location.href = link;
        }
    </script>
{% endblock %}

